<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kpi">
            <h2><span jhiTranslate="frontappliApp.kpi.detail.title">Kpi</span> {{kpi.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="frontappliApp.kpi.tauxdappels">Tauxdappels</span></dt>
                <dd>
                    <span>{{kpi.tauxdappels}}</span>
                </dd>
                <dt><span jhiTranslate="frontappliApp.kpi.tauxdepertes">Tauxdepertes</span></dt>
                <dd>
                    <span>{{kpi.tauxdepertes}}</span>
                </dd>
                <dt><span jhiTranslate="frontappliApp.kpi.tauxderejets">Tauxderejets</span></dt>
                <dd>
                    <span>{{kpi.tauxderejets}}</span>
                </dd>
                <dt><span jhiTranslate="frontappliApp.kpi.zones">Zones</span></dt>
                <dd>
                    <div *ngIf="kpi.zones">
                        <a [routerLink]="['/zones', kpi.zones?.id, 'view']">{{kpi.zones?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kpi', kpi.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
