<div>
    <h2 id="page-heading">
        <span jhiTranslate="frontappliApp.kpi.home.title">Kpis</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kpi" [routerLink]="['/kpi/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="frontappliApp.kpi.home.createLabel">
            Create a new Kpi
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="kpis?.length === 0">
        <span jhiTranslate="frontappliApp.kpi.home.notFound">No kpis found</span>
    </div>
    <div class="table-responsive" *ngIf="kpis?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="frontappliApp.kpi.tauxdappels">Tauxdappels</span></th>
            <th><span jhiTranslate="frontappliApp.kpi.tauxdepertes">Tauxdepertes</span></th>
            <th><span jhiTranslate="frontappliApp.kpi.tauxderejets">Tauxderejets</span></th>
            <th><span jhiTranslate="frontappliApp.kpi.zones">Zones</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let kpi of kpis ;trackBy: trackId">
                <td><a [routerLink]="['/kpi', kpi.id, 'view' ]">{{kpi.id}}</a></td>
                <td>{{kpi.tauxdappels}}</td>
                <td>{{kpi.tauxdepertes}}</td>
                <td>{{kpi.tauxderejets}}</td>
                <td>
                    <div *ngIf="kpi.zones">
                        <a [routerLink]="['/zones', kpi.zones?.id, 'view' ]" >{{kpi.zones?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/kpi', kpi.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/kpi', kpi.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/kpi', { outlets: { popup: kpi.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
