<div>
    <h2 id="page-heading">
        <span jhiTranslate="frontappliApp.qos.home.title">Qos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qos" [routerLink]="['/qos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="frontappliApp.qos.home.createLabel">
            Create a new Qos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="qos?.length === 0">
        <span jhiTranslate="frontappliApp.qos.home.notFound">No qos found</span>
    </div>
    <div class="table-responsive" *ngIf="qos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="frontappliApp.qos.traffic">Traffic</span></th>
            <th><span jhiTranslate="frontappliApp.qos.tempsdereponse">Tempsdereponse</span></th>
            <th><span jhiTranslate="frontappliApp.qos.sensibilite">Sensibilite</span></th>
            <th><span jhiTranslate="frontappliApp.qos.debit">Debit</span></th>
            <th><span jhiTranslate="frontappliApp.qos.zones">Zones</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qos of qos ;trackBy: trackId">
                <td><a [routerLink]="['/qos', qos.id, 'view' ]">{{qos.id}}</a></td>
                <td>{{qos.traffic}}</td>
                <td>{{qos.tempsdereponse}}</td>
                <td>{{qos.sensibilite}}</td>
                <td>{{qos.debit}}</td>
                <td>
                    <div *ngIf="qos.zones">
                        <a [routerLink]="['/zones', qos.zones?.id, 'view' ]" >{{qos.zones?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/qos', qos.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qos', qos.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qos', { outlets: { popup: qos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
