<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bts-heading" jhiTranslate="frontappliApp.bts.home.createOrEditLabel">Create or edit a Bts</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontappliApp.bts.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontappliApp.bts.puissance" for="field_puissance">Puissance</label>
                    <input type="text" class="form-control" name="puissance" id="field_puissance"
                           formControlName="puissance"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontappliApp.bts.etat" for="field_etat">Etat</label>
                    <input type="text" class="form-control" name="etat" id="field_etat"
                           formControlName="etat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="frontappliApp.bts.zones" for="field_zones">Zones</label>
                    <select class="form-control" id="field_zones" name="zones" formControlName="zones">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="zonesOption.id === editForm.get('zones').value?.id ? editForm.get('zones').value : zonesOption" *ngFor="let zonesOption of zones; trackBy: trackZonesById">{{zonesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
