<div>
    <h2 id="page-heading">
        <span jhiTranslate="frontappliApp.bts.home.title">Bts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bts" [routerLink]="['/bts/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="frontappliApp.bts.home.createLabel">
            Create a new Bts
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bts?.length === 0">
        <span jhiTranslate="frontappliApp.bts.home.notFound">No bts found</span>
    </div>
    <div class="table-responsive" *ngIf="bts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="frontappliApp.bts.type">Type</span></th>
            <th><span jhiTranslate="frontappliApp.bts.puissance">Puissance</span></th>
            <th><span jhiTranslate="frontappliApp.bts.etat">Etat</span></th>
            <th><span jhiTranslate="frontappliApp.bts.zones">Zones</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bts of bts ;trackBy: trackId">
                <td><a [routerLink]="['/bts', bts.id, 'view' ]">{{bts.id}}</a></td>
                <td>{{bts.type}}</td>
                <td>{{bts.puissance}}</td>
                <td>{{bts.etat}}</td>
                <td>
                    <div *ngIf="bts.zones">
                        <a [routerLink]="['/zones', bts.zones?.id, 'view' ]" >{{bts.zones?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bts', bts.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bts', bts.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bts', { outlets: { popup: bts.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
