<div>
    <h2 id="page-heading">
        <span jhiTranslate="frontappliApp.zones.home.title">Zones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zones" [routerLink]="['/zones/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="frontappliApp.zones.home.createLabel">
            Create a new Zones
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="zones?.length === 0">
        <span jhiTranslate="frontappliApp.zones.home.notFound">No zones found</span>
    </div>
    <div class="table-responsive" *ngIf="zones?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="frontappliApp.zones.nomzone">Nomzone</span></th>
            <th><span jhiTranslate="frontappliApp.zones.couverture">Couverture</span></th>
            <th><span jhiTranslate="frontappliApp.zones.cadastre">Cadastre</span></th>
            <th><span jhiTranslate="frontappliApp.zones.population">Population</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zones of zones ;trackBy: trackId">
                <td><a [routerLink]="['/zones', zones.id, 'view' ]">{{zones.id}}</a></td>
                <td>{{zones.nomzone}}</td>
                <td>{{zones.couverture}}</td>
                <td>{{zones.cadastre}}</td>
                <td>{{zones.population}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/zones', zones.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zones', zones.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zones', { outlets: { popup: zones.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
